

body{
  background-color: #E4E6EB;
}

body::-webkit-scrollbar {
  display: none;
}

.card-columns {
  margin: 5vw;
}

.card {
  min-height: 30%;
}

.btn-primary {
  z-index: 100;
}

.card-img-overlay {
  z-index: -1;
}

.card-img-top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.card-title {
  margin-bottom: 0.3rem;
}

#pagination-container {
  display: flex;
  justify-content: center;
}

#pagination {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  left: 0;
  bottom: 0;
  border-radius: 50px;
  box-shadow: 0 13px 15px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  list-style-type: none;
}

#pagination a {
  text-align: center;
  color: black;
  text-decoration: none;
  border-radius: 50%;
}

#pagination .arrow {
  margin: 0px 10px 0px 10px;
}

.author {
  display: flex;
  align-items: flex-end;
  margin-top: -40px;
  background: transparent;
}

.author-image{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-left: 10px;
}

.author-name {
  margin-right: 0px;
  color: #3B3C3F;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  z-index: 100;
}

.author-name:hover {
  text-decoration: underline;
  color: #3B3C3F;
}

.date {
  font-size: 12px;
  margin-left: -5px;
  color: #3B3C3F;
  font-family: 'Roboto', sans-serif;
}