#user-container {
  margin-left: 10px;
  margin: 10px;
}

.flex-container-content {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 95vw;
    margin: 10px;
}

.toolbar-item {
  background: transparent;
  border: none;
}

.toolbar-item:hover {
  cursor: pointer;
}

.toolbar-item i {
  font-size:24px;
  color: rgb(24, 37, 52);
}

#status, #user, #category {
  font-size: 15px;
  border: solid 2px black;
  margin-right: 5px;
}

#title {
  margin-left: 10px;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  background-color: rgb(24, 37, 52);
  color: white;
  font-family: Consolas;
  border: none;
}

#content {
    overflow-y: scroll;
    height: 100%;
    margin: 0px;
    width: 100%;
}

#markdown-editor {
    resize: none;
    overflow-y: scroll;
    width: 50vw;
    height: 100%; 
    resize: horizontal;
    background-color: rgb(24, 37, 52);
    color: white;
    border:none;
    font-family: Consolas;
  }

textarea {
   font-family: inherit;
   font-size: inherit;
}

#markdown-editor-container {
  margin-right: 10px;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: fit-content;
}

#edit-toolbar {
  margin-bottom: 5px;
  display: flex;
  margin-left: 5px;
}

#selectors-container {
  margin-left: 10px;
}


.row {
  margin: 15px;
}

.image-container {
  margin: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  transition: .3s;
}

.image-container:hover {
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  transform: scale(1.05,1.05);
}

.image-container .mytooltip {
  position: absolute;
  bottom: -10px;
  right: -10px;
  visibility: hidden;
}

.image-container:hover .mytooltip {
  visibility: visible;
}

.image-container:hover .remove-image {
  display: inline;
  text-decoration: none;
}

.image-container {
  position: relative;
}

.remove-image, .close-button {
  position: absolute;
  border-radius: 10em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 700 21px/20px sans-serif;
  background: #182534;
  color: #FFF !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.remove-image {
  display: none;
  top: -10px;
  right: -10px;
}

.close-button {
  top: -15px;
  right: -15px;
}

.close-button:hover {
  text-decoration: none;
}

.remove-image:hover, .close-button:hover {
  background: #E54E4E;
  cursor: pointer;
}

.remove-image:active, .close-button:active {
  background: #E54E4E;
  cursor: pointer;
}



.mytooltip .tooltiptext {
  visibility: hidden;
  min-width: 140px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.mytooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.mytooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* media queries */
/* -------------------------------------*/


@media only screen and (max-width: 600px) {
  .flex-container-content {
    flex-direction: column;
  }

  #user-container {
    flex-direction: column;
  }

  #post-header {
    height: 20vh;
  }

  #title {
    margin-top: 5px;
    margin-left: 5px;
    width: 90vw;
  }

  #markdown-editor {
    height: 50vh;
  }

  #markdown-editor, #content {
    width: 91vw;
  }

  html, body{
    overflow-x: hidden;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .image-container img {
      max-width: 17vw;
      height: 100%;
      object-fit: cover;
  }
}