

#user-container {
  margin-left: 10px;
  margin: 10px;
}

.flex-container-content {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 95vw;
    margin: 10px;
}

.toolbar-item {
  background: transparent;
  border: none;
}

.toolbar-item:hover {
  cursor: pointer;
}

.toolbar-item i {
  font-size:24px;
  color: rgb(24, 37, 52);
}

#status, #user, #category {
  font-size: 15px;
  border: solid 2px black;
  margin-left: 5px;
}

#title {
  margin-left: 10px;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  background-color: rgb(24, 37, 52);
  color: white;
  font-family: Consolas;
  border: none;
}

#content {
    overflow-y: scroll;
    height: 100%;
    margin: 0px;
    width: 100%;
}

#markdown-editor {
    resize: none;
    overflow-y: scroll;
    width: 50vw;
    height: 100%; 
    resize: horizontal;
    background-color: rgb(24, 37, 52);
    color: white;
    border:none;
    font-family: Consolas;
  }

textarea {
   font-family: inherit;
   font-size: inherit;
}

#markdown-editor-container {
  margin-right: 10px;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: fit-content;
}

#edit-toolbar {
  margin-bottom: 5px;
  display: flex;
  margin-left: 5px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 600px;
  margin-left: -250px;
  margin-top: -200px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: white;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #343a40;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .add {
  margin-top: 10px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container textarea {
  width: 100%;
  resize: none;
}


@media only screen and (max-width: 600px) {
  .flex-container-content {
    flex-direction: column;
  }

  #user-container {
    flex-direction: column;
  }

  #post-header {
    height: 20vh;
  }

  #title {
    margin-top: 5px;
    margin-left: 5px;
    width: 90vw;
  }

  #markdown-editor {
    height: 50vh;
  }

  #markdown-editor, #content {
    width: 91vw;
  }

  html, body{
    overflow-x: hidden;
}
  
}