<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}">
        {% endblock %}
        {% block title %}
        <title>Joe Writes Stuff</title>
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
    </head>

    <body>

        <!--Navbar blue-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'blog:index' %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:index-specific-cat' 'Drafts' %}">Drafts</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:new-post' %}">New Post</a>
                    </li>
                    {% endif %}
                    {% if categories %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'blog:index' %}">All</a>
                            {% for cat in categories %}
                            <a class="dropdown-item" href="{% url 'blog:index-specific-cat' cat %}">{{ cat }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                </ul>
                <form class="form-inline" action="{% url 'blog:index' %}">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
                </form>
            </div>
        </nav>

        {% block body %}{% endblock %}

    </body>