<!DOCTYPE html>
<html>

  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/index-style.css' %}">
    <meta charset="utf-8">
    <title>{{ post.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Roboto+Slab" rel="stylesheet">
  </head>
  <body>

    <div class="navbar">
      <a href="{% url 'blog-index' %}">Blog</a>
      {% if request.user.is_authenticated %}<a href="{% url 'admin:index' %}">Admin</a>{% endif %}
    </div>

    <div class="search-container">
      <form action="{% url 'blog-index' %}">
        <input type="text" placeholder="Search Posts" id="filter_posts" name="q"/>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <div class="select" tabindex="1">
      <input class="selectopt" name="test" type="radio" id="opt0" checked>
      <label for="opt0" class="option">{{ category }}</label>
      <input class="selectopt" name="test" type="radio" id="opt1" onclick="location.href='/blog/'">
      <label for="opt1" class="option">All</label>
      {% if categories %}
      {% for cat in categories %}
      <input class="selectopt" name="test" type="radio" id="opt{{ forloop.counter | add:1 }}" onclick="location.href='/blog/{{ cat }}/'">
      <label for="opt{{ forloop.counter | add:1 }}" class="option">{{ cat }}</label>
      {% endfor %}
      {% endif %}
    </div>

    <div id="posts">
    {% if posts %}
    {% for post in posts %}
      <div class="card" onclick="location.href='{% url 'post-detail' post.slug %}'">
          {% if post.title_image %}
            <img class="post-image" src="{{ post.title_image.url }}"/>
          {% else %}
            <div class="post-image" style="background-color: CadetBlue;"></div>
          {% endif %}
          <div class="author">
            <img src="{{ post.author.userprofile.avatar.url }}" alt="" class="author-image">
            <a class="author-name" href="{% url 'specific-author' post.author.first_name post.author.last_name %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
            <span class="date">, {{ post.updated_on }}</span>
          </div>
          <div class="post-title">
            <h1>{{ post.title }}</h1>
          </div>
          <div class="post-text">{{ post.content_short | slice:"0:400" }}</div>
      </div>
    {% endfor %}
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
  </div>

  <div id="pagination-container">
    <ul id="pagination">
      {% if posts.has_previous %}
        <li class="arrow"><a href="?page={{ posts.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
      {% else %}
        <li class="arrow"><a href="?page=1"><i class="fas fa-chevron-left"></i></a></li>
      {% endif %}
      <li>Page <a href="?page={{ posts.number }}">{{ posts.number }}</a> of <a href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a></li>
      {% if posts.has_next %}
        <li class="arrow"><a href="?page={{ posts.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
      {% else %}
        <li class="arrow"><a href="?page={{ posts.number }}"><i class="fas fa-chevron-right"></i></a></li>
      {% endif %}
    </ul>
  </div>

  </body>
</html>