{% extends "blog/base.html" %}

{% block body %}
  {% if query %}
  <div style="margin-top: 5px;"><h4>Results for: "{{ query }}"</h4></div>
  {% endif %}
  <div class="card-columns">
  {% if posts %}
  {% for post in posts %}
    <div class="card">
      {% if post.title_image %}
      <img class="card-img-top" src="{{ post.title_image.image.url }}"/>
      {% else %}
      <div class="card-img-top" style="background-color: rgb(24, 37, 52);"></div>
      {% endif %}
      <div class="card-img-overlay">
        <a href="{% url 'blog:index-specific-cat' post.category %}" class="btn btn-light btn-sm">{{ post.category }}</a>
      </div>
      <div class="author">
        <img src="{{ post.author.userprofile.avatar.url }}" alt="" class="author-image">
        <a class="author-name" href="{% url 'blog:specific-author' post.author.first_name post.author.last_name %}">{{ post.author.first_name }}</a>
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text">{{ post.first_paragraph | slice:"0:250" }} [...]</p>
        <a href="{% url 'blog:post-detail' post.slug %}" class="btn btn-primary">Read More</a>
        <div class="sharing">
          <a id="twitter" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="{{ request.build_absolute_uri|slice:":-1" }}{% url 'blog:post-detail' post.slug %}" data-show-count="false">Tweet</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
          <script type="IN/Share" data-url="{{ request.build_absolute_uri|slice:":-1" }}{% url 'blog:post-detail' post.slug %}"></script>
        </div>
      </div>
      <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
        <div class="views">{{ post.updated_on }}</div>
      </div>
    </div>

  {% endfor %}
  {% else %}
      <p>No posts are available.</p>
  {% endif %}
  </div>

  <div id="pagination-container">
    <ul id="pagination">
      {% if posts.has_previous %}
        <li class="arrow"><a href="?page={{ posts.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
      {% else %}
        <li class="arrow"><a href="?page=1"><i class="fas fa-chevron-left"></i></a></li>
      {% endif %}
      <li>Page <a href="?page={{ posts.number }}">{{ posts.number }}</a> of <a href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a></li>
      {% if posts.has_next %}
        <li class="arrow"><a href="?page={{ posts.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
      {% else %}
        <li class="arrow"><a href="?page={{ posts.number }}"><i class="fas fa-chevron-right"></i></a></li>
      {% endif %}
    </ul>
  </div>
{% endblock %}