<!DOCTYPE html>
<html>

  {% extends "blog/base.html" %}

  {% block head %}
  {% load static %}
  <!-- meta tags for post sharing -->
  <meta prefix="og: http://ogp.me/ns#" name="image" property="og:image" content="{{ post.title_image.image.url }}" />
  <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
  <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ post.title }}" />
  <meta prefix="og: http://ogp.me/ns#" name="description" property="og:description" content="{{ post.first_paragraph|truncatechars:150 }}" />
  <meta prefix="og: http://ogp.me/ns#" name="author" content="{{ post.author.first_name }}" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="{% static 'blog/post.css' %}">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  {% endblock %}
  {% block title %}
  <title>{{ post.title }}</title>
  {% endblock %}

  {% block body %}

    <header id="post-header" class="flex-container" style={% if post.title_image %}"background-image: url({{ post.title_image.image.url }});" {% else %}"background-color: rgb(24, 37, 52);"{% endif %}>
    </header>

    <div class="flex-container-content">
      <div>
        {% block post_title %}<h1 id="title"> {{ post.title }}</h1>{% endblock %}
        <div id="user-container" class="flex-container">
          <div id="user-image">
            <img src="{{ user_profile.avatar.url }}">
          </div>
          <div id="user-text">
          <p>
            <strong> {{ post.author.first_name }} </strong><br>
            <em>Last Updated {{ post.updated_on }}</em>
          </p>
          </div>
            {% block user_select %}
            {% endblock %}
        </div>
        {% block sharing %}
        <div class="sharing">
          <a id="twitter" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="{{ request.build_absolute_uri }}" data-show-count="false">Tweet</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
          <script type="IN/Share" data-url="{{ request.build_absolute_uri }}"></script>
        </div>
        {% endblock %}
      {% block post_content %}
      {% if request.user == post.author %}
        <div id="edit-container">
          <button id="edit" onclick="location.href='{% url 'blog:post-edit' post.id %}'" type="button"><i class="fa fa-edit"></i></button>
        </div>
      {% endif %}
      </div>
      <div id="content">
          {{ post.content | safe }} 
      </div>
    </div>
    {% endblock %}

    {% block additions %}
    {% endblock %}
  
  {% endblock %}