{% extends "blog/post.html" %}

{% block post_styling %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/post-editor.css' %}">
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'blog/post-editor.js' %}"></script>
{% endblock %}

{% block title %}
<input id="title" form="save-changes" value="{{ post.title }}" name="title" oninput="updateSaveAction()"></input>
{% endblock %}

{% block user_select %}
<select name="user" id="user" form="save-changes">
  {% for user in users %}
  <option value="{{ user.id }}">{{ user.username }}</option>
  {% endfor %}
</select>
{% endblock %}

{% block post_content %}
<div id="edit-toolbar">
  <form id="save-changes" action="{% url 'blog:post-detail' post.slug %}" method="post">
    {% csrf_token %}
    <input type="hidden" value={% if post.id %}"{{ post.id }}"{% else %}"-1"{% endif %} name="post-id" id="post-id">
    <button id="save" class="toolbar-item" type="submit"><i class="fas fa-share-square"></i></button>
    <button id="delete" class="toolbar-item" type="submit"><i class="fas fa-trash-alt"></i></button>
    <button id="add-image" class="toolbar-item" type="button"><i class="fas fa-image"></i></button>
  </form>
  <button class="toolbar-item" onclick="openForm()"><i class="fas fa-quote-left"></i></button>
  <select name="status" id="status" class="toolbar-item" form="save-changes">
    <option value="1">Publish</option>
    <option value="0">Draft</option>
  </select>
</div>
<div class="flex-container-content">
  <div id="markdown-editor-container"><textarea spellcheck="true" id="markdown-editor" cols=120 form="save-changes" name="markdown">{{ post.content }}</textarea></div>
  <div id="content"></div>
</div>

<script>
  let markdown_elem = document.getElementById('markdown-editor');
  document.getElementById('content').innerHTML = marked(markdown_elem.value);
  markdown_elem.addEventListener("input", (event) => {
    document.getElementById('content').innerHTML = marked(markdown_elem.value);
    hljs.highlightAll();
  });
</script>
{% endblock %}

{% block additions %}
<div class="form-popup" id="myForm">
  <form class="form-container">
    <textarea type="text" placeholder="Enter Quote" name="quote" id="quote" rows=5></textarea>
    <input type="text" placeholder="Citation text" name="citation" id="citation">
    <input type="url" placeholder="Citation url" name="citation-url" id="citation-url">
    <output name="result" id="result" for="a b"></output>
    <button type="button" class="btn cancel" onclick="setTextToCurrentPos()">Add</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
{% endblock %}